* {
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #90d3;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 20rem white blur;
    border-radius: 20%;
    height: 50%;
    box-shadow: 10px 10px;
}